.page-link {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}