<div class="person-image">
    <img src="{{person.image}}" alt="{{person.name}}" />
</div>
<div class="person-info">
    <span><strong>Name:</strong> {{person.name}}</span><br />
    <span><strong>Birth Year:</strong> {{person.birth_year}}</span><br />
    <span><strong>Height:</strong> {{person.height}} cm</span><br />
    <span><strong>Mass:</strong> {{person.mass}} kg</span><br />
    <span><strong>Gender:</strong> {{person.gender}}</span><br />
    <span><strong>Skin color:</strong> {{person.skin_color}}</span><br />
    <span><strong>Eye color:</strong> {{person.eye_color}}</span><br />
</div>
<div class="details">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#planeta">Homeworld</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#naves">Spaceships</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#veiculos">Vehicles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#especies">Species</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#filmes">Movies</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="planeta" class="container tab-pane active"><br>
            <h3>Terra Natal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div id="naves" class="container tab-pane"><br>
            <h3>Naves</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div id="veiculos" class="container tab-pane fade"><br>
            <div *ngIf="!hasVehicles" class="mt-3"><strong>
                    No vehicles
                </strong></div>
            <app-vehicle *ngFor="let vehicle of person.vehicles" [vehicleUrl]="vehicle"></app-vehicle>
        </div>
        <div id="especies" class="container tab-pane fade"><br>
            <h3>Espécies</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
        <div id="filmes" class="container tab-pane fade"><br>
            <h3>Filmes</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
    </div>

</div>