<div class="specie">
    <span><strong>Name:</strong> {{specie.name}}</span><br />
    <span><strong>Classification:</strong> {{specie.classification}}</span><br />
    <span><strong>Designation:</strong> {{specie.designation}}</span><br />
    <span><strong>Average height:</strong> {{specie.average_height}}</span><br />
    <span><strong>Skin colors:</strong> {{specie.skin_colors}}</span><br />
    <span><strong>Hair colors:</strong> {{specie.hair_colors}}</span><br />
    <span><strong>Eye colors:</strong> {{specie.eye_colors}}</span><br />
    <span><strong>Average lifespan:</strong> {{specie.average_lifespan}}</span><br />
    <span><strong>Language:</strong> {{specie.language}}</span><br />
</div>