a, .logo {
    width: 300px;
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
}
a {
    height: 250px;
}
.logo {
    padding-top: 50px;
}
.background-stars {
    background-image: url('../../../assets/images/background.jpg');
}
.header {
    height: 250px;
    margin-bottom: 30px;
}