.vehicle {
    text-align: center;
    button {
        border: 1px solid rgba(0,0,0,.85);
        width: 100%;
        padding: 10px;
    
        &:hover {
            background-color: rgba(0,0,0,.85);
            color: #fff;
        }
    }
    .description {
        padding: 10px;
    }
}