.breadcrumb-container {
    width: 100%;
    margin-bottom: 30px;

    .breadcrumb {
        width: 85%;
        margin: 0 auto 0 auto;
        background-color: #000;

        .breadcrumb-item {
            color: #fff;

            a {
                color: #fff;
                font-weight: bolder;
            }
        }

        .breadcrumb-item+.breadcrumb-item::before {
            color: #fff;
        }
    }
}