<div class="planet">
    <span><strong>Name:</strong> {{planet.name}}</span><br />
    <span><strong>Rotation Period:</strong> {{planet.rotation_period}}</span><br />
    <span><strong>Orbital Period:</strong> {{planet.orbital_period}}</span><br />
    <span><strong>Diameter:</strong> {{planet.diameter}}</span><br />
    <span><strong>Climate:</strong> {{planet.climate}}</span><br />
    <span><strong>Gravity:</strong> {{planet.gravity}}</span><br />
    <span><strong>Terrain:</strong> {{planet.terrain}}</span><br />
    <span><strong>Surface water:</strong> {{planet.surface_water}}</span><br />
    <span><strong>Population:</strong> {{planet.population}}</span><br />
</div>